#draw {
	width:100vw; 
	height:100vh; 
	background-color: #DAE4E4;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

html, body {
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
	text-align: center;
	max-width: 4em;
}
